@media (max-width: 768px) {
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.8em 1.4em;
    border-bottom: 1px solid black;
    background-color: white;
  }
  .logo h1 {
    font-size: 1.8rem;
  }
  #MenuIcon {
    display: block;
    font-size: 1.7rem;
  }
  .mobile-logo {
    display: block;
  }
  .mobile-logo a {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .mobile-logo img {
    width: 30px;
  }
  .mobile-logo h1 {
    font-size: 1.8rem;
  }
  #navClose {
    display: block;
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 1.8rem;
    color: white;
  }
  #navClose:hover {
    color: red;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    height: 100vh;
    width: 70%;
    position: fixed;
    left: -70%;
    top: 0;
    background-color: #00000071;
    padding-left: 30px;
    backdrop-filter: blur(14px);
    z-index: 100;
  }
  .dropdown {
    list-style: none;
    display: none;
    position: absolute;
    top: 0;
    left: 90px;
  }

  /* hero section */
  .Hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: auto;
    margin-top: 60px;
    padding: 20px;
  }
  .hero-img img {
    width: 100%;
  }
  .hero-content {
    max-width: 100%;
  }
  .hero-content h1 {
    margin-top: 1em;
    margin-bottom: 0.6em;
  }
  .hero-content p {
    text-align: center;
  }
}
