* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SN Pro", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.8em 1.4em;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  z-index: 100;
}
.logo a {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
}
.logo h1 {
  font-size: 2rem;
}
#MenuIcon {
  display: none;
}
.mobile-logo {
  display: none;
}
#navClose {
  display: none;
}
.navLinks {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navLinks a {
  font-size: 1.3rem;
}
.dropdown-menu {
  position: relative;
}
.dropdown {
  list-style: none;
  display: none;
  position: absolute;
}
.dropdown li {
  padding: 6px;
}
.dropdown-menu:hover .dropdown {
  display: block;
}
.sign-btn {
  padding: 8px 20px;
  font-size: 1.1rem;
  border: 1px solid black;
  background: transparent;
  border-radius: 40px;
  transition: background 0.5s ease-in-out;
}
.sign-btn:hover {
  background-color: black;
  color: white;
}

/* Hero section */
.Hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}
.hero-img {
  background: none;
  width: 800px;
  height: 600px;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hero-content {
  max-width: 600px;
}
.hero-content h1 {
  font-size: 3rem;
  background: linear-gradient(145deg, red, deeppink, blue, purple);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Akaya Kanadaka", system-ui;
}
.hero-content p {
  font-size: 1.1rem;
  line-height: 28px;
}

.hero-content button {
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 40px;
  border: 2px solid purple;
  background: linear-gradient(to left, transparent 50%, purple 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: purple;
  cursor: pointer;
  transition:
    background-position 0.4s ease,
    color 0.4s ease;
  margin-top: 30px;
}
.hero-content button:hover {
  background-position: left bottom;
  color: #fff;
}
.hero-content button:hover {
  color: white;
}

/* About Section */

.About-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw 3vw;
  gap: 100px;
}
.about-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
  background: linear-gradient(145deg, red, deeppink, blue, purple);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Akaya Kanadaka", system-ui;
}
.travel-img img {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 4px 4px gray;
}
.travel-about {
  max-width: 40%;
}
.travel-about h1 {
  font-size: 2.3rem;
  font-family: "Akaya Kanadaka", system-ui;
}
.travel-about p {
  font-size: 1.1rem;
  margin-top: 16px;
  line-height: 28px;
}
.travel-about button {
  padding: 12px 30px;
  font-size: 1.3rem;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 3px 3px 6px white;
  background: white;
  transition: background 0.3s ease-in-out;
  box-shadow: 0 0 4px 3px #0000004c;
  cursor: pointer;
}

.travel-about button:hover {
  background-color: black;
  color: white;
}

/* Locations destinations */
.destination-section {
  width: 100%;
  margin-top: 100px;
}
.dest-header {
  text-align: center;
  margin-bottom: 50px;
}
.dest-header h1 {
  font-size: 2.9rem;
  background: linear-gradient(to bottom, red, deeppink, darkblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Akaya Kanadaka", system-ui;
}
.dest-header p {
  font-size: 1.3rem;
}
.destinations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.locations {
  width: 25%;
  height: 280px;
  box-shadow: 0 0 4px 4px #80808070;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.locations img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 4px 3px gray;
  overflow: hidden;
}

.location-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 80px; */
  padding: 5px;
}
.dest-info {
  padding: 0 0 4px 4px;
  white-space: nowrap;
}
.dest-info h1 {
  font-size: 1.1rem;
}
.rating {
  background-color: #006aff;
  color: white;
  padding: 4px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

/* Package details */
.package-container {
  margin-top: 80px;
}
.package-head {
  margin-bottom: 50px;
  text-align: center;
}
.package-head h1 {
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 2.8rem;
  background: linear-gradient(to bottom, red, deeppink, darkblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.package-box {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}
.packages {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px gray;
}
.package-img img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.package-content {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.package-content h4 {
  font-size: 1.3rem;
}
.package-duration {
  font-size: 1rem;
  opacity: 0.5;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 12px;
}
.package-feature {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.package-feature span {
  border: 1px solid black;
  padding: 4px 9px;
  border-radius: 30px;
  cursor: pointer;
}
.package-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.package-footer span {
  font-size: 1.3rem;
}
.package-footer button {
  padding: 8px 25px;
  font-size: 1.1rem;
  background: transparent;
  border-radius: 10px;
  outline: none;
  border: 1px solid black;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.package-footer button:hover {
  background-color: black;
  color: white;
}

/* Booking Form */
.booking-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0 10px 0;
}
.booking-head h1 {
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 2.8rem;
  background: linear-gradient(to bottom, red, deeppink, darkblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Booking-section {
  display: flex;
  justify-content: center;
  gap: 0px;
  align-items: center;
}
.Booking-section img {
  width: 700px;
  height: auto;
}
.input-group,
.group-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.input-select {
  display: flex;
  gap: 10px;
}

#TripbookingForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Booking-section input {
  height: 40px;
  border-radius: 2px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px 2px #808080bb;
  padding: 0 5px;
  font-size: 18px;
  background-color: white;
}
.Booking-section button {
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: dodgerblue;
  color: white;
}
/* User profile image */
.review-section {
  text-align: center;
  margin-top: 50px;
  z-index: -2;
}
.review-section h1 {
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 2.8rem;
  background: linear-gradient(to bottom, red, deeppink, darkblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}
.review-wrapper {
  padding: 12px;
}
.review-slide {
  width: 200px;
  box-shadow: 0 0 5px 2px gray;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
}
.user-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* ========== Contact Us section ========== */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}
.contact-form input {
  width: 500px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px 2px #8080807e;
}
.contact-form button {
  background-color: dodgerblue;
  width: 500px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px 2px #8080807e;
}
.contact-form textarea {
  height: 100px;
  width: 500px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px #8080807e;
  border: none;
  outline: none;
}

/* ========== Footer section ========== */
.footer-container {
  background-color: black;
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 250px;
}
.footer-section {
  margin-top: 50px;
}
.footer-section h4,
.footer-section h3 {
  margin-bottom: 8px;
}
.footer-section ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.footer-section ul li a {
  color: white;
}

/* ========= Hero page section ========== */
.goa-hero-page img {
  width: 100%;
  height: 100vh;
  position: relative;
}
.goa-hero-page h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  color: white;
  white-space: nowrap;
}
.goa-hero-page button {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  font-size: 1.3rem;
  border: 2px solid black;
  color: white;
  border-radius: 4px;
  background-color: black;
  transition: background 0.6s ease-in-out;
}
.goa-hero-page button:hover {
  background-color: transparent;
}

/* ============ Goa About page section ========== */
.goa-about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 50px;
}
.goa-about-content h2 {
  font-size: 2rem;
}
.goa-about-content p {
  margin-top: 16px;
  line-height: 23px;
  max-width: 80%;
}
.goa-about-content button {
  margin-top: 14px;
  width: 180px;
  height: 45px;
  font-size: 1.1rem;
  border: 1px solid black;
  border-radius: 30px;
  background-color: black;
  color: white;
  transition: background 0.4s ease-in-out;
}
.goa-about-content button:hover {
  background-color: transparent;
  color: black;
}

.goa-about-image img {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 4px 3px gray;
  object-fit: cover;
}
.goa-destination-container {
  width: 100%;
}
.goa-top-destination {
  margin-top: 50px;
}
.goa-top-destination h3 {
  text-align: center;
}
.goa-destinations {
  width: 20%;
  height: auto;
  background-color: white;
  box-shadow: 0 0 5px 3px gray;
  border-radius: 10px;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.goa-destinations h5 {
  font-size: 1.2rem;
}
.goa-destinations p {
  font-size: 14px;
  line-height: 17px;
}
.goa-destinations img {
  width: 100%;
  border-radius: 40px;
}
