@media (min-width: 769px) and (max-width: 1024px) {
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.8em 1.4em;
    border-bottom: 1px solid black;
    background-color: white;
  }
  #MenuIcon {
    display: block;
    font-size: 2.2rem;
  }
  .mobile-logo {
    display: block;
  }
  .mobile-logo a {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  .mobile-logo img {
    width: 68px;
  }
  .mobile-logo h1 {
    font-size: 3.2rem;
  }
  #navClose {
    display: block;
    position: absolute;
    top: 4%;
    right: 4%;
    font-size: 2.8rem;
    color: white;
  }
  #navClose:hover {
    color: red;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    height: 100vh;
    width: 70%;
    position: fixed;
    left: -70%;
    top: 0;
    background-color: #00000071;
    padding-left: 30px;
    backdrop-filter: blur(14px);
    z-index: 100;
  }
  .dropdown {
    list-style: none;
    display: none;
    position: absolute;
    top: 0;
    left: 180px;
  }
  .logo h1 {
    font-size: 2.2rem;
  }
  .logo img {
    width: 70px;
  }
  .navLinks a {
    font-size: 2.5rem;
    color: white;
  }
  .sign-btn {
    padding: 12px 30px;
    font-size: 2rem;
    color: white;
    border: 1px solid white;
  }
  .Hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
    align-items: center;
    height: 100vh;
    padding: 3vw 2vw;
  }
  .hero-img img {
    width: 100%;
  }
  .hero-content {
    max-width: 70%;
  }
  .hero-content h1 {
    font-size: 3.7rem;
    color: red;
  }
  .hero-content p {
    font-size: 1.5rem;
    line-height: 35px;
    margin-top: 10px;
  }
  .hero-content button {
    padding: 15px 40px;
    font-size: 1.7rem;
  }

  /* About section */
  .About-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw 3vw;
    gap: 40px;
  }
  .travel-img img {
    width: 100%;
    border-radius: 10px;
  }
  .travel-about {
    max-width: 90%;
  }
  .travel-about p {
    font-size: 1.5rem;
    margin-top: 16px;
    line-height: 32px;
  }

  /* Popular destinations images */
  .destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .locations {
    width: 34%;
    height: 280px;
    box-shadow: 0 0 4px 4px #80808070;
    border-radius: 10px;
    cursor: pointer;
  }
}
